@font-face {
  font-family: pressStartK;
  src: url('fonts/Press-Start-K.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: pressStartK, courier new;
  line-height: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select:  none;
  user-select: none;
}
